[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=mbayrak
Group=mbayrak
WorkingDirectory=/home/mbayrak/app/src/
Environment="PATH=/home/mbayrak/app/venv/bin"
EnvironmentFile=/home/mbayrak/.env
ExecStart=/home/mbayrak/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target